

html{ 
      font-family: "Roboto Mono", "DejaVu Sans Mono", monospace;
      }
      

   

details {
  padding: 2px; 
  display: inline;
  min-width: 99%;
    border-radius: 2px;
}

details[open] > summary {
  list-style-type: '📖 ';
}

summary {
  padding: 2px;
  border-radius: 2px;

  cursor: pointer;
  list-style-type: '📘 ';
} 

h4 { margin: 1%;}

.mar { margin: 2%;}




ul li {
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;}
      
li {}
      

li.o {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/page_white_world.png);}

li.w {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/wait.png);}

li.c {list-style-type: '🌟 ';}

li.cd {list-style-type: '💿 ';}

li.dvd {list-style-type: '📀 ';}

li.play {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/doc_music.png)}

li.cassetta { list-style-type: '📼 ';}




.v {
overflow: auto;
padding: 1%;
border: 3px solid purple;
border-radius: 2px;
background: rgba(200, 20, 70, 0.1);
}

.vi {
 border: 2px solid purple;
 background: rgba(200, 20, 70, 0.1);
}


.g {
overflow: auto;
padding: 1%;
border: 2px solid darkgreen;
border-radius: 1px;
background: rgba(0, 50, 0, 0.1);
}




.ve {
 border: 1px solid darkgreen;
 background: rgba(0, 50, 0, 0.05);
}


.s {
overflow: auto;
padding: 1%;
border: 2px solid orange;
border-radius: 2px;
background: rgba(230, 200, 100, 0.2);
}

.gi {  
  border: 1px solid orange;
  background: rgba(230, 200, 100, 0.1);
}


.z {
padding: 1%;
border-radius: 2px;
border: 2px solid skyblue;
background: rgba(100, 200, 230, 0.2);
}

.az {
padding: 1%;
border: 1px solid skyblue;
background: rgba(100, 200, 230, 0.1);
max-width:100%
}


h1 {text-align:center;}


hr {color: darkgreen}


.codice {
font-family: monospace;
color: white;
background: #222222 ;
padding: 2%;
}

pre {margin: 0.5%;
font-family: "Roboto Mono",  "DejaVu Sans Mono", monospace;
}
	





