
html{ 
      font-family: monospace;
      font:  1.5em;
      line-height: 1.5;
      margin: 0%;
      letter-spacing: 0.04em;
      word-spacing: 0.04em;
      margin: 5%;
      }
   
details {
  padding: 2px; 
  border: 1px solid #f7f7a7;
  border-radius: 2px;
}

details[open] > summary {
  list-style-type: '📖 ';
}

.giallo {
   display: inline;
  padding: 2px;
  border: 1px solid #f7f7a7;
  border-radius: 2px;
}

summary {
  padding: 2px;
  border: 1px solid #f7f7a7;
  border-radius: 2px;

  cursor: pointer;
  list-style-type: '📘 ';
} 



ul li {

      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;}

li.o {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/page_white_world.png);}

li.s {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/wait.png);}

li.c {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/star_2.png);}




.v {
overflow: auto;
padding: 1%;
border: 3px solid purple;
border-radius: 2px;
}

.g {
overflow: auto;
padding: 1%;
border: 3px solid darkgreen;
border-radius: 2px;
}

.s {
overflow: auto;
padding: 1%;
border: 3px solid orange;
border-radius: 2px;
}

h1 {text-align:center;}


hr {color: darkgreen}


.codice {
font-family: monospace;
color: white;
background: #222222 ;
padding: 2%;
}




