

html{ 
      font-family: "Roboto Mono", "DejaVu Sans Mono", monospace;
      }
      

   

details {
  padding: 2px; 
  display: inline;
  min-width: 99%;
    border-radius: 2px;
}

details[open] > summary {
  list-style-type: '📖 ';
}

summary {
  padding: 2px;
  border-radius: 2px;

  cursor: pointer;
  list-style-type: '📘 ';
} 

summary:hover, summary:focus, summary:active, .cd:hover, .cd:focus, .cd:active {
filter: saturate(250%) ;
filter: contrast(170%);
filter: drop-shadow(1px);
border: 1px solid gray;
}


h4 { margin: 1%;}

.mar { margin: 2%;}

.mar-lati { margin-left: 2%;
	margin-right: 2% }



ul li {
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;}
      
li {}
      

.o {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/page_white_world.png);}

.w {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/wait.png);}

.c {list-style-type: '🌟 ';}

.cd {list-style-type: '💿 ';}

.dvd {list-style-type: '📀 ';}

.play {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/doc_music.png)}

.cassetta { list-style-type: '📼 ';}


.z {
padding: 1%;
border-radius: 2px;
border: 2px solid skyblue;
background: rgba(100, 200, 230, 0.2);
} 

.az {
padding: 1%;
border: 1px solid skyblue;
background: rgba(100, 200, 230, 0.1);
max-width:100%
}



.v {
overflow: auto;
padding: 1%;
border: 2px solid purple;
border-radius: 2px;
background: rgba(200, 20, 70, 0.1);
}

.vi {
 border: 1px solid purple;
 background: rgba(200, 20, 70, 0.1);
}


.vi:hover, .vi:focus, .vi:active {
  border: 1px solid violet;
}

.s {
overflow: auto;
padding: 1%;
border: 2px solid darkorange;
border-radius: 2px;
background: rgba(200, 200, 100, 0.2);
}



.gi:hover, .gi:focus, .gi:active {
  border: 1px solid goldenrod;
  background: rgba(200, 200, 100, 0.2)
}


.g {
overflow: auto;
padding: 1%;
border: 2px solid darkgreen;
border-radius: 1px;
background: rgba(0, 50, 0, 0.1);
}

.ve {
 border: 1px solid darkgreen;
 background: rgba(0, 50, 0, 0.05);
}

.ve:hover, .ve:focus, .ve:active {
  border: 1px solid lightgreen;
  background: rgba(00, 250, 00, 0.1);
}


.gi {  
  border: 1px solid goldenrod;
  background: rgba(200, 200, 70, 0.1);
}

.ro {
 border: 1px solid red;
 background: rgba(230, 0, 0, 0.1);
}




h1 {text-align:center;}

.bordo {border: 1px solid gray}

hr {color: darkgreen}


.codice {
font-family: monospace;
color: white;
background: #222222 ;
padding: 2%;
}

pre {margin: 0.5%;
font-family: "Roboto Mono",  "DejaVu Sans Mono", monospace;
}
	

.rosa {
filter: saturate(100%) ;
filter: contrast(60%);
filter: drop-shadow(0px);
border-radius: 1em
}


